@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Upload", "Upload")</li>
        </ul>
    </div>
</body>
</html>